 <div class="containera px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-6 gx-lg-5 align-items-center my-5">
                    <h1 class="font-weight-heavy display-1"><%= @booking.car.model %></h1>
                    <p class="lead"><%= @booking.car.description %></p>
            </div>
                <img class="img-fluid rounded mb-4 mb-lg-0" <%=cl_image_tag @booking.car.photo.key if @booking.car.photo.key%>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Your Booked Dates</h2>
                            <p class="card-text"><%= @booking.rental_start.to_formatted_s(:long) %> to <%=  @booking.rental_end.to_formatted_s(:long) %></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Your Total Cost</h2>
                            <p class="card-text"><%= (@booking.rental_end - @booking.rental_start ).to_i%> days at £<%= @booking.car.price %> per day</p>
                            <p class="card-text">Your total is £<%= (@booking.rental_end - @booking.rental_start ).to_i * @booking.car.price %></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Your Booking Details</h2>
                            <p class="card-text"><%= @booking.details %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <footer class="py-1">
            <div class="px-4 px-lg-5 text-decoration-none"><p class="m-0 text-center text-white text-muted "><%= link_to "back to your bookings", user_bookings_path(current_user), class: "link" %></p></div>
        </footer>
