<!-- restaurant menu / checkout-->

<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-8">
      <div>
        <h3 style="display: flex; justify-content: center;"><em>Search Results</em></h3>
        <div class="form-inline">
          <select class="search-filter col-3">
              <option value="" disabled selected>City</option>
              <option>London</option>
              <option>San Francisco</option>
          </select>
          <input type="date" id="start" name="trip-start"
                    value="2023-02-28"
                    min="2023-01-01" max="2023-12-31" class="search-filter col-3">
          <select class="search-filter col-3">
              <option value="" disabled selected>Car Type</option>
              <option>4x4</option>
              <option>Sedan</option>
              <option>MiniVan</option>
              <option>Sports Car</option>
          </select>
          <button type="submit" class="btn btn-secondary col-0.5"><label><i class="fa fa-search"></i> Search</label></button>
        </div>
        <% @cars.each do |car| %>
        <div class="search-card p-3 my-3">
          <div>
            <%=cl_image_tag car.photo.key, width: 275 if car.photo.key%> <%= image_tag car.image_url, width: 200 if car.image_url %>
            <div class="card w-100 p-3">
              <p><strong><%= link_to car.model, car_path(car) %></strong></p>
              <p>⭐⭐⭐⭐⭐</p>
              <p><small><%= car.description %></small></p>
              <span><strong>£<%= car.price%>/day</strong></span>
            </div>
          </div>
        </div>
        <% end %>
        <!-- /menu -->
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="container p-3 search-card">
        <img id="map" src='https://traista.com/wp-content/uploads/2018/03/London-Google-map.png'/>
      </div>
    </div>

  </div>
</div>



<%= link_to "Add new car", new_car_path %>
