<h3 style="display: flex; justify-content: center;"><em>Our Fine Selection of Motor Vehicles</em></h3>
  <div class="heading">
  <%= form_tag cars_path, class: "d-flex form-inline", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control flex-grow-1",
      placeholder: "Find a car" %>
    <%= date_field_tag :date, Date.today, as: :date, html5: true, class: 'form-control'%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
 <%# <this is the new search bar> %>


<div class="cards-container m-4">

  <div class="cards">
    <% (@cars+@cars).each do |car| %>
      <div class="card-c">
        <%= cl_image_tag car.photo.key %>
        <div class="card-c-info">
          <p>⭐⭐⭐⭐⭐</p>
          <p><strong><%= link_to car.model, car_path(car) %></strong></p>
          <span><strong>£<%= car.price%>/day</strong></span>
        </div>
        <p class="h5"><%= car.description %></p>
      </div>
    <% end %>
  </div>

  <!-- Change the token below (https://www.mapbox.com/account/access-tokens/) -->
 <div id="map" data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
</div>


<%= link_to "Add new car", new_car_path %>
