<div class="container w-50">
<%= simple_form_for @car do |f| %>
  <%= f.input :model %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "List car", class: "btn btn-primary" %>
<% end %>
</div>
