<div class="background-container-show">
  <div class="container pt-10 ">

  <div class="card-show">

    <div class="card-body-show">

      <div class="d-flex justify-content-between orange-box">
        <div>
        <h1 class="header-show"> <%= @car.model %></h1>
          <%# <h5 class="card-title">Lamborghini Gallardo</h5> %>
<<<<<<< HEAD
          <a href="https://fxtiger.github.io/profile-page/" class="user">@faizynazz</a>
=======
          <p class="user">owned by <%= @car.user.username %></p>
>>>>>>> master
        </div>
        <p class="para-show"><%= link_to 'Back to our cars', cars_path, class:"btn btn-default" %></p>
      </div>
      <div class="card-car-body-show">

      </div>
      <div class="card-spec-show" style="width: 25rem;">
<<<<<<< HEAD
      <%= image_tag @car.image_url, class: "image" if @car.image_url %>
      <%# <%= cl_image_tag @car.photo.key, class: "image" if @car.photo.key %>
=======
      <%= cl_image_tag @car.photo.key, class: "image" if @car.photo.key %>
>>>>>>> master
      <div class="card-pics-show" style="width: 25rem;">
      <img id="map-small" src="https://traista.com/wp-content/uploads/2018/03/London-Google-map.png">
       </div>
      </div>
      <div class="card-details-show" style="width: 50rem;">
          <%# <div> %>
            <%# <h2 class="para-specs">Car specs</h2> %>
            <%# <li> Max. power	700 PS (515 kW; 690 hp) at 8,250 rpm</li> %>
            <%# <li> Min. power to weight	378 PS (278 kW; 373 bhp) per tonne</li> %>
              <%# <li> Max. torque	690 N⋅m (509 lb⋅ft) at 5,500 rpm</li> %>
          <%# </div> %>
            <%# <h2 class="para-descript">Owners description</h2> %>
            <%# <p> Hi guys is Faize I have been doing rental car business for about 3 years on Msart-Whips %>
            <%# and I do also take additional requestes depanding what the client is requesting!</p> %>

              <%# <div class="card-price-show"> %>
                  <%# <p class="para-book-now"> %>
                  <%# <%= link_to 'Book Now', new_car_booking_path(params[:id]), class:"btn btn-default"%> %>
                  <%# </p> %>
                <%# <p class="carprice">Price £450 per Day</p> %>
              <%# </div> %>
      <div>
        <h2 class="para-specs">Car specs</h2>
        <p><%= @car.description %> <%= @car.description %> <%= @car.description %></p>
      </div>
        <h2 class="para-descript">Owners description</h2>
        <p><%= @car.description  %> <%= @car.description %> <%= @car.description %> <%= @car.description %></p>
      <div class="card-price-show" style="width: 50rem;">

                    <%# <div class="card-specs">
                      <div class="card-specs-body">
                        <h5 class="card-specs-title">Car specs</h5>
                      </div>
                    </div> %>

    </div>

    <div class="card-details-show2" style="width: 50rem;">
          <div>
            <h2 class="para-specs">Car specs</h2>
            <li> Max. power	700 PS (515 kW; 690 hp) at 8,250 rpm</li>
            <li> Min. power to weight	378 PS (278 kW; 373 bhp) per tonne</li>
              <li> Max. torque	690 N⋅m (509 lb⋅ft) at 5,500 rpm</li>
          </div>
            <h2 class="para-descript">Owners description</h2>
            <p> Hi guys is Faize I have been doing rental car business for about 3 years on Msart-Whips
            and I do also take additional requestes depanding what the client is requesting!</p>

              <div class="card-price-show">
                  <p class="para-book-now">
                  <%= link_to 'Book Now', new_car_booking_path(params[:id]), class:"btn btn-default"%>
                  </p>
                <p class="carprice">Price £450 per Day</p>
              </div>

      <%# <div class="card-specs">
        <div class="card-specs-body">
          <h5 class="card-specs-title">Car specs</h5>
        </div>
      </div> %>

    </div>
  </div>
</div>
</div>
