
<h1><%= @car.model %></h1>
<%= image_tag @car.image_url, width: 300 if @car.image_url %>
<%= cl_image_tag @car.photo.key, width: 300 if @car.photo.key %>
<p><%= link_to 'book this car', new_car_booking_path(params[:id]) %></p>
<p><%= link_to 'back to our cars', cars_path %></p>


<%# <h1> SmartWhips </h1>
<button type="button" class="btn btn-outline-dark btn-lg">Sign in</button> %>

<%# <div> class="card" style="max-width:1100px;>

</div> %>

<div class="background-container">
  <div class="container pt-10 ">

  <div class="card">

    <div class="card-body">

      <div class="d-flex justify-content-between">
        <div>
          <h5 class="card-title">Lamborghini Gallardo</h5>
          <p class="user">By user ...</p>
        </div>
        <a href="/"> Back to browsing</a>
      </div>
      <div class="card-car-body">

      </div>
      <div class="card-spec" style="width: 25rem;">
      <%= image_tag "" %>
      <div class="card-pics" style="width: 25rem;">
       </div>

      </div>
      <div class="card-details" style="width: 50rem;">
        <p>Car specs</p>
      <div class="card-price" style="width: 50rem;">
      <div>
      <p class="Book">Book Now</p>
      </div>
      <p class="Book">price</p>
      </div>

      <%# <div class="card-specs">
        <div class="card-specs-body">
          <h5 class="card-specs-title">Car specs</h5>
        </div>
      </div> %>

    </div>
  </div>
</div>
</div>
