<div class="background-container-show">
  <div class="container pt-10 ">

  <div class="">

    <div class="">

      <div class="d-flex justify-content-between orange-box">
        <div>
        <h1 class="header-show"> <%= @car.model %></h1>
          <%# <h5 class="card-title">Lamborghini Gallardo</h5> %>
          <p class="user">owned by <%= @car.user.username %></p>
        </div>
        <p class="para-show"><%= link_to 'Back to our cars', cars_path, class:"btn btn-default" %></p>
      </div>
      <div class="">

      </div>
      <div class="">

      <%= cl_image_tag @car.photo.key, width: 1200, height: 600, crop: :fill, class: "" if @car.photo.key %>
      <div class="" style="width: 25rem;">
              <div style="width: 100%; height: 200px;"
              data-controller="map"
              data-map-markers-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
       </div>
      </div>
      <div class="">

    </div>


  </div>
</div>
</div>
        <div class="container">
          <div class="row">
            <div class="col-8">
                  <h2 class="para-specs">Car specs</h2>
                  <p><%= @car.description %> <%= @car.description %> <%= @car.description %></p>
                  <h2 class="para-descript">Owners description</h2>
                  <p><%= @car.description  %> <%= @car.description %> <%= @car.description %> <%= @car.description %></p>
              </div>
            <div class="col-4">
               <div class="">
                  <p class="para-book-now">
                  <%= link_to 'Book Now', new_car_booking_path(params[:id]), class:"btn btn-default" %>
                  </p>
                <p class="carprice">Price £450 per Day</p>
              </div>
            </div>
          </div>
        </div>
